body{
  background-color: black;
  height: 100vh;
  display: flex;

 /* This centers our sketch horizontally. */
 justify-content: center;

 /* This centers our sketch vertically. */
 align-items: center;
}

canvas {
  border: solid 1px white;
}